:root {
  --color-primary: black;
  --color-primary-light: white;
  --color-secondary: #e2e2e2;
  --color-accent: red;

  --font-primary: 'Oswald', sans-serif;
  --font-secondary: 'Lato', sans-serif;
}

html {
  font-family: var(--font-primary);
}
