.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-accent);
  color: var(--color-primary-light);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-ghost:hover {
  color: var(--color-primary-light);
  border-color: var(--color-accent)
}

.btn-light {
  background-color: var(--color-accent);
  border-color: var(--color-primary);
  color: var(--color-primary-light);
}

.btn-light:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary);
  color: var(--color-accent);
}

.btn-cart {
  background-color: var(--color-primary-light);
  border-color: var(--color-accent);
  color: var(--color-primary);
}

.btn-card {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary-light);
}

.btn-card:hover {
  border-color: var(--color-accent);
}

.btn-banner {
  background-color: transparent;
  border-color: var(--color-primary-light);
  color: var(--color-primary-light);
}

.btn-banner:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-primary-light);
}
