skip-links {
  position: absolute;
}

li a {
  color: var(--color-primary);
  text-decoration: none;
}

li a:hover {
  color: var(--color-accent);
  text-decoration: none;
}

.current {
  border-bottom: solid var(--color-accent) 3px;
}
